.header {
  background-color: rgb(7, 0, 24);

  .beHideScreen {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 8888;
    top: 0;
    left: 0;
  }
  .menu {
    display: none;
  }

  > div {
    max-width: 1200px;
    margin: auto;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 25% 75%;
  }

  img {
    max-height: 100px;
  }
}

@media screen and (max-width: 960px) {
  .header {
    padding: 20px;
  }
}

@media screen and (max-width: 720px) {
  .menu {
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px;
  }
  .header_body {
    > div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start!important;
      height: 100%;
      align-items: flex-start!important;
      a {
        margin: 10px 0;
      }
    }
    position: fixed;
    z-index: 9999;
    transition: ease-in-out 0.5s;
    background-color: #fff;
    padding: 20px 0;
    width: 70%;
    height: 100%;
    right: 100%;
    top: 0;
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -ms-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
  }
  .active {
    color: #000 !important;
  }
}
